.catalog_item {
  padding: 5px;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  margin-top: 10px;
}

.independent {
  width: 48%;
  margin-top: 10px;
  display: flex;
}

.left {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.independent > .left > .catalog_item_block > .description {
  margin-bottom: 0;
}

.right {
  width: 50%;
}

.right h2 {
  font-size: 1em;
  text-align: left;
}

.additives {
  height: 80%;
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.additives_item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.additives_text {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.additives_bth {
  padding: 0 10px;
  background-color: #fe5f1e;
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1em;
  border-radius:5px;
  border: none;
}

.catalog_item_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
}

.name {
  font-family: 'Jost', sans-serif;
  font-size: 1.3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
  font-family: 'Jost', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}

.name_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
}

.size {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

.size_item {
  width: 34%;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  font-weight: 600;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  padding: 5px 8px;
}

.packing_item {
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: #eee;
}

.ingredients {
  width: 100%;
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: #fe5f1e;
}

.ingredients: hover {
  background-color: #FFDF8C;
}

.ingredients: focus {
  background-color: #fff;
  color: #fe5f1e;
}

.size_item:hover {
  cursor: pointer;
}

.size_item:focus {
  background-color: #FFDF8C;
}

.price_holder {
  padding-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
}

.price_count {
  max-width: 55px;
}

.btn_order {
  padding: 8px 18px;
  background-color: #fe5f1e;
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1em;
  border-radius: 30px;
}

.btn_order:hover {
  color: #fff;
  background-color: #ff8c5e;
}

.btn_order:focus {
  border: 1px solid #fe5f1e;
  background-color: #fff;
  color: #fe5f1e;
}

button {
  font-size: 13px;
  background-color: #fff;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  padding: 5px 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #ff8c5e;
}

.size_item:hover {
  background-color: #f9fff8;
}

button:focus {
  outline: none;
}

.order_index {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #fe5f1e;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  span,
  b {
    color: #ccc;
  }

  .size_item,
  .packing_item {
    background-color: #39383d;
    border: 0.5px solid #2c2b2f;
    color: #fff;
  }

  .size_item {
    border: none;
  }

  .size_item:hover,
  .size_item:focus {
    background-color: rgb(177, 165, 165);
  }

  .btn_order {
    border: none;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }

  .catalog_item {
    width: 32%;
  }

  .independent {
    width: 64%;
  }
}

@media screen and (max-width: 860px) {
  .wrapper {
    width: 98%;
  }

  .size_item {
    font-size: 0.5em;
  }

  .btn_order {
    font-size: 0.5em;
    padding: 7px 14px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 700px) {
  .catalog_item {
    width: 50%;
  }
  .independent {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
  }

  .catalog_item {
    width: 100%;
    margin-top: 20px;
    margin-top: 20px;
    justify-content: space-around;
    border-bottom: 2px dashed #ccc;
  }

  .catalog_item:hover {
    cursor: pointer;
    box-shadow: none;
  }

  .independent {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .image {
    border-radius: 0;
  }

  .name {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .description {
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  .independent {
    margin-bottom: 30px;
  }

  .size_item {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #4f4d55;
  }

  .price {
    font-size: 26px;
  }

  .price_holder {
    margin-top: 10px;
    padding: 0 3%;
  }

  .btn_order {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }

  @media screen and (max-width: 414px) {
    .catalog_item {
      height: 85dvh;
      justify-content: space-around;
    }

    .price_holder {
      padding: 0;
    }
  }
}
