.wrapper {
  width: 60%;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
  border-bottom: 1px solid gray;
  transition: .3s;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .wrapper {
    margin: 0;
    margin-top: 8vh;
    height: 92vh;
    text-align: left;
    padding-top: 0;
  }

  .title {
    margin: 2vh 0;
    font-size: 3em;
  }

  .wrapper span {
    font-size: 1em;
  }
}