.delivery-main {
  margin-top: 30px;
  padding-bottom: 20px;
}

.delivery-list {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
}

.delivery-list h1 {
  text-align: left;
  margin-bottom: 15px;
}

td {
  text-align: start;
}

@media screen and (max-width: 414px) {
  .delivery-main {
    margin-top: 10vh;
  }

  .delivery_list_item {
    margin-bottom: 50px;
  }
}