.email-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}

.email-form-wrapper {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 90px;
  width: 70%;
  height: 500px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  padding: 20px;

}

.form-total {
  font-size: 1em;
  margin-top: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-total > * {
  margin-top: 1%;
}

.close-btn {
  width: 15px;
  height: 15px;
  align-self: flex-end;
  cursor: pointer;
}

input:focus::placeholder {
  color: transparent;
}

.hidden-input {
  font-size: 1em;
  text-align: left;
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 100%;
}

.hidden-input:focus {
  outline: none;
}
