.email-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}

.email-form-wrapper {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.form-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.form-total {
  height: 100%;
  font-size: 1em;
  margin-top: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form-total > * {
  margin-top: 1%;
}

.close-btn {
  width: 15px;
  height: 15px;
  align-self: flex-end;
  cursor: pointer;
  z-index: 99;
}

input:focus::placeholder {
  color: transparent;
}

.order_list_wrapper {
  width: 100%;
}

.order_inputs_wrapper {
  width: 100%;
  height: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.order_inputs_wrapper label {
  margin-top: 10px;
}

input[type='text'] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  font-weight: bold;
  color: orange;
  margin-bottom: 10px;
  margin: 0; /* 2 */
}

.hidden-input {
  font-size: 1em;
  text-align: left;
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 100%;
}

.hidden-input:focus {
  outline: none;
}

.payment {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.payment .payment_method {
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.label_pay {
  position: relative;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
.label_pay:before {
  box-sizing: border-box;
  content: ' ';
  position: absolute;
  top: 0.5em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid orange;
  border-radius: 0.25em;
  z-index: -1;
}
input[type='radio'] + .label_pay::before {
  border-radius: 1em;
}

input[type='radio']:checked + .label_pay {
  padding-left: 1em;
  color: white;
}
input[type='radio']:checked + .label_pay:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: orange;
}

.label_pay,
.label_pay::before {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.inp_valid {
  width: 100%;
  display: flex;
  align-items: center;
}

.inp_valid p {
  color: red;
  margin-left: 2%;
  font-size: 0.8em;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.form-total button {
  background-color: #fe5f1e;
}

.form-total button:hover {
  background-color: #feac1e;
}

@media (prefers-color-scheme: dark) {
  .email-form-wrapper {
    background-color: #000;
  }

  h2,
  input,
  label {
    color: #ccc;
  }

  .label_pay:before {
    border: 2px solid white;
  }

  input[type='radio']:checked + .label_pay {
    color: orange;
  }
  input[type='radio']:checked + .label_pay:before {
    background: white;
  }
}

@media screen and (max-width: 414px) {
  .email-form {
    top: 10dvh;
    font-size: 0.8em;
    z-index: 9;
  }

  .email-form-wrapper {
    box-shadow: none;
    margin-top: 0;
    width: 100%;
    height: 100%;
  }

  .close-btn {
    margin-right: 2vw;
  }

  .form-total {
    font-size: 1.5em;
    height: 100%;
    position: relative;
    justify-content: space-around;
  }

  .form-total .order_input {
    border: none;
    background-color: rgba(204, 204, 204, 0.2);
    width: 50vw;
    height: 10vw;
  }

  .order_list_wrapper {
    width: 100%;
    height: 30dvh;
    border: 1px dashed #ccc;
    overflow: scroll;
    padding: 0 2vw;
    margin-bottom: 4dvh;
  }

  .order_inputs_wrapper {
    width: 100%;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .order_list_wrapper input,
  .order_inputs_wrapper input {
    height: 30px;
  }

  .order_inputs_wrapper label {
    margin-top: 1dvh;
  }

  .form-total button {
    font-size: 14px;
    width: 47vw;
    padding: 11px 0;
    background-color: #fe5f1e;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 2vw;
  }

  .payment .payment_method {
    margin-right: 0;
  }

  .payment_method {
    display: flex;
    align-items: flex-start;
    height: 4dvh;
    margin-right: 5vw;
  }

  .payment_method input {
    margin: 0.4rem;
  }

  .label_pay {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
