.header_wrapper {
  padding-top: 50px;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
  
.logo {
  position: absolute;
  margin: 15px 0 15px 0;
  top: -50px;
  left: -50px;
  height: 180px;
}
  
.basket {
  width: 150px;
  height: 50px;
  background-color: #FE5F1E;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total_count span {
  color: #fff;
}

.bask {
  width: 35px;
}
  
@media screen and (max-width: 500px) {
    .logo {
        margin-left: 5%;
        height: 50px;
    }

    .contacts {
        flex-wrap: wrap;
        width: 45%;
    }

    a {
        font-weight: bold;
        color:red;
        text-decoration: none;
    }

    .contact {
        display: none;
    }
}